<h1>Wellcome to ZygoBooks!!!</h1>

<%= render partial: "books/filters" %>

<% @books.each do |book| %>
  <ul>
    <li><%= book.title %></li>
    <li><%= book.description %></li>
    <li><%= book.author %></li>
    <% if book.image? %>
      <li>
        <img src=<%= url_for(book.image) %> width="100" height="120">
      </li>
    <% end %>

  </ul>
<% end %>